body {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

div#submission { 
  position: absolute; 
  top: 10px; 
  left: 10px; 
  z-index: 99;
  background: white; 
  padding: 20px; }
  
div#nabeform {
  display: none;
}

#spinner {
  display: none;
}

.bigbutton {
  background: white; 
  color: black; 
  font-size: 1.2em;
}

input.bigtext {
	color:#7A8872;
	padding:10px;
	width:580px;
	font-size: 150%;
	text-align: center;
}

#map {
    position: absolute;
    top: 0; /* if you have a 200px block at the top */
    left: 0;
    right: 0;
    bottom: 0;
}
